<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <package name="org.trinity.be.user.domain"/>
        <package name="org.trinity.be.account.dto"/>
        <package name="org.trinity.be.kbox.dto"/>
        <package name="org.trinity.be.notification.dto"/>
        <package name="org.trinity.be.transactionhistory.dto"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/AccountMapper.xml"/>
        <mapper resource="mapper/KboxMapper.xml"/>
        <mapper resource="mapper/NotificationMapper.xml"/>
        <mapper resource="mapper/TransactionHistoryMapper.xml"/>
        <mapper resource="mapper/UserRoleMapper.xml"/>
    </mappers>

</configuration>
